<!DOCTYPE html>
<html lang="en">
<head>
  <title>Demo</title>
</head>

<body>
  <!-- FORM -->
  <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
    <table id="UnknownNodeForm">
      {{ form.as_table }}
    </table><br>
    <input class="btn btn-medium btn-primary" style="display: true" type="submit" value="Add">
  </form>
</body>
</htlm>
